<form  [formGroup]="descriptionInfoForm">
    <div formArrayName="descriptions">
    <h3>Descriptions<span (click)="addDescriptions(1)" style="cursor: pointer;">+</span>
    </h3>
    <div class="form-row" *ngFor="let alias of descriptions.controls; let i=index">
        <div class="form-field">

            <label>Description Box-{{i}}</label> <span class="closeIcon pull-right"
                style="cursor: pointer;" (click)="deleteDescriptions(1,i)">delete<i
                    class="fa fa-trash" aria-hidden="true"></i></span>
            <textarea [formControlName]="i" class="form-control"></textarea>
          


        </div>

    </div>
    </div>

</form>

   
